<%- include('cabecalho2') -%>

  <section id="portfolio" class="portfolio">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <br><br>
        <h2>Portfolio</h2>
        <p>Material Didádico</p>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Conteúdos</li>
            <li data-filter=".filter-app">Ciências Humanas</li>
            <li data-filter=".filter-card">Ciências da Natureza</li>
            <li data-filter=".filter-web">Linguagens</li>
          </ul>
        </div>
      </div>

      <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/geografia.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Geografia</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/geografia.PNG" data-gallery="portfolioGallery" 
                class="portfokio-lightbox"> <i class="bi bi-plus"></i></a>
                <a href="/geografia" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/artes.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Artes</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/artes.PNG" data-gallery="portfolioGallery" 
                class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
                <a href="/artes" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/historia.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>História</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/historia.PNG" 
                class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
                <a href="/historia" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/biologia.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Biologia</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/biologia.PNG" data-gallery="portfolioGallery"
                 class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
                <a href="/biologia" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portugues.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Português</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portugues.PNG" data-gallery="portfolioGallery" 
                class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
                <a href="/portugues" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/filosofia.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Filosofia</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/filosofia.PNG" data-gallery="portfolioGallery" 
                class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
                <a href="/filosofia" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/fisica.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Física</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/fisica.PNG" data-gallery="portfolioGallery" 
                class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
                <a href="/fisica" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/quimica.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Química</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/quimica.PNG" data-gallery="portfolioGallery"
                 class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
                <a href="/quimica" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/literatura.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Literatura</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/literatura.PNG" data-gallery="portfolioGallery" 
                class="portfokio-lightbox"><i class="bi bi-plus"></i></a>
                <a href="/literatura" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>
  <!-- End Portfolio Section -->

  
<%- include('rodape2') -%>
  