<%- include('cabecalho2') -%>
  
  <br id="main">
    <!-- ======= About Section ======= -->
    </br>
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Objetivo Principal</h3>
              <h2>Educação, o passaporte para vida.</h2>
              <p>
                O site em questão chama-se “Passport to life” e tem como objetivo
                proporcionar um meio de ajudar na democratização do ensino, visando para seus usuários um melhor
                desenvolvimento socioeconômico.
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/IMG_5476.JPG" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

  </main><!-- End #main -->

<%- include('rodape2') -%>

 